* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.content {
    width: 100%;
    max-width: 100%;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#box {
    width: 100%;
    max-width: 800px;
    height: fit-content;
    min-height: 750px;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.hedding {
    width: 100%;
    height: 80px;
    text-align: center;
    padding: 5px;
}

#player {
    width: 100%;
    max-width: 1000px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img {
    width: 100%;
    max-width: 480px; 
    height: 240px;      
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 40px;
    overflow: hidden;
    background-color: #f0f0f0;
}


.img img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    padding: 5px;       
    box-sizing: border-box;
}

.play-btns {
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 50px;
    padding: 5px;
}

button {
    padding: 15px;
    border: none;
    background-color: rgb(192, 190, 190);
    border-radius: 100px;
    cursor: pointer;
}

.playlist {
    width: 100%;
    max-width: 800px;
    padding: 10px;
}

.songs {
    width: 100%;
    max-width: 300px;
    height: 730px;
    background-color: whitesmoke;   
    border-radius: 50px;
    padding: 15px;
}

.songs h3 {
    text-align: center;
    text-decoration: double;
}

li {
    width: 280px;
    height: 35px;
    background-color: rgb(173, 169, 169);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 0 15px;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.songlist {
    width: 280px;
    display: block;
}

.play-card {
    width: 100%;
    background-color: whitesmoke;
    height: 450px;
    border-radius: 50px;
}

.playlist-card {
    width: 100%;
    height: fit-content;
    background-color: whitesmoke;
    border-radius: 50px;
    margin-top: 20px;
    padding: 10px;
}

#hedder {
    width: 100%;
    max-width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#input {
    width: 100%;
    max-width: 750px;
    height: 230px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

input {
    width: 100%;
    max-width: 500px;
    height: 50px;
    border: none;
    border-radius: 50px;
    padding: 5px 15px;
    box-sizing: border-box;
}

.add {
    width: 100%;
    margin-top: 10px;
}

.delete-btn {
    color: red;
    cursor: pointer;
}


button.active-shuffle {
    background-color: #007bff;
    color: #fff;
}