*{
    margin: 0;
    padding: 0;
    color: white;
}
.container{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.content{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box{
    
    background: linear-gradient(to right,#2c3e50,#3498db);
    width: 100%;
    max-width: 800px;
    height: 600px;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
header{
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: top;
}
#input{
    width: 100%;
    max-width: 700px;
    font-size: 1.2rem;
}
#input input,button{
    width: 100%;
    max-width: 700px;
    height: 50px;
    border-radius: 10px;
    margin-top: 5px;
    color: black;
    font-size: 1.2rem;
}