*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 10px;
    
}

.form{
    width: 100%;
    max-width: 500px;
    height: 600px;
    background-color:cadetblue;
    border-radius: 10px;
    padding: 40px;
}

form{
    border: 2px solid antiquewhite;
    border-radius: 10px;
    height: 600px;
}

.div{
    padding: 10px;
}

.add button{
    border: none;
}
.in{
    width: 100%;
    max-width: 440px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-bottom: 5px;
}

.abtn{
    width: 100%;
    max-width: 440px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    margin-top: 10px;
    padding: 10px;
    background-color: gray;
    font-weight: 600;
}
.add{
    width: 100%;
    max-width: 450px;
    background-color: antiquewhite;
    padding: 5px;
    border: none;
    border-radius: 10px;
    margin: 10px;

}   

.show{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

