 .container{
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }
        .content{
            width: 100%;
            max-width: 100%;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 100px;
            
        }
        .tasks{
            width: 100%;
            max-width: 600px;
            height: fit-content;
            background-color: bisque;
            border-radius: 80px;
        }
        .input{
            padding: 20px;
            height: fit-content;
        }
        .input input{
            width: 100%;
            max-width: 550px;
            height: 30px;
            border: none;
            border-radius: 10px;
        }
        #buttons{
            margin: 10px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .buttons #btn{
            width: 100%;
            max-width: 45%;
            margin: 10px;
            border: none;
            border-radius: 10px;
            padding: 15px;
        }
        
       .task-disp{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 510px;
            margin-left: 45px;
       }
       #task-item{
            width: 100%;
            max-width: 510px;
            margin-left: 45px;
            margin-bottom: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
       }
       .task-item div{
        width: 20%;
       }